.hd{
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: 82px;
}
.bolg{
    text-align: center;
}

.dh{
    color: rgb(0, 255, 60);
    font-weight: 700;
    font-size: 82px;
}